body {
    background-color: black
}

h1 {
    font-size: 30px;
    color: teal;
}

p {
    font-size: 20px;
    color: aqua;
}

p {
    color: green;
}

.Robux{
    font-size: 80px
}

.boblox{
    text-transform: uppercase
}

.Robux.boblox{
    color: blue
}

h1 span{
    color:violet;
    font-size: 50px
}